<html>
	<head>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
		<h1>
			Welcome to <%=title%>
		</h1>
		<div class="login-container">
			<label for="username">User Name: </label>
			<input type="text" name="User Name" id= "username"><br>
			<label for="password">Password: </label>
			<input type="text" name="Password" id="password"><br>
			<input type = "button" onclick="location.href='/home'" id = "login" value = "Login">
			<input type = "button" id = "signup" value = "Signup">
		</div>				
		
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
