<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <h1>
		Welcome to <%=title%>
	</h1>
    <div class="login-container">
        
        <form action="/user/login" method="post">

            <label for="username">User Name: </label>
            <input type="text" name="username" id="username"><br>
            <label for="password">Password: </label>
            <input type="text" name="password" id="password"><br>
            <button type="submit" id="login">Login</button><br>
            
        </form>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
